In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader.data as pdr
import datetime as dt
from statistics import stdev

In [2]:
ticker = ['ADANIPORTS.NS', 'BRITANNIA.NS', 'TCS.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'TATASTEEL.NS', 'JSWSTEEL.NS', 
         'DIVISLAB.NS', 'NESTLEIND.NS', 'ASIANPAINT.NS', 'TITAN.NS', 'BAJAJFINSV.NS', 'RELIANCE.NS', 'BAJFINANCE.NS',
         'HDFCBANK.NS', ]

no_of_stocks = [54, 4, 374, 216, 565, 249, 2096, 188, 62, 67, 869, 28, 563, 232, 32]

In [3]:
df = pd.DataFrame()
df['Stock_names'] = ticker
df['no_of_stocks'] = no_of_stocks
df

      Stock_names  no_of_stocks
0   ADANIPORTS.NS            54
1    BRITANNIA.NS             4
2          TCS.NS           374
3     HINDALCO.NS           216
4   HINDUNILVR.NS           565
5    TATASTEEL.NS           249
6     JSWSTEEL.NS          2096
7     DIVISLAB.NS           188
8    NESTLEIND.NS            62
9   ASIANPAINT.NS            67
10       TITAN.NS           869
11  BAJAJFINSV.NS            28
12    RELIANCE.NS           563
13  BAJFINANCE.NS           232
14    HDFCBANK.NS            32

In [64]:
fin = dt.datetime(2021, 5, 8)
ini = dt.datetime(2021, 4, 7)

In [65]:
df1 = pd.DataFrame()

for i in range(len(ticker)):
    try:
        o = pdr.get_data_yahoo(ticker[i],ini,fin)
        df1[str(ticker[i])] = o["Close"]
    except:
        print('error')
        print(i)

o = pdr.get_data_yahoo('^NSEI',ini,fin)
df1['Nifty50'] = o["Close"]

In [66]:
df1.shape[0]

21

In [67]:
x = []

for j in range(df1.shape[0]):
    initial_value = 0
    for i in range(len(ticker)):
        initial_value += df1[ticker[i]][j]*no_of_stocks[i] 

    x.append(initial_value)
    
df1['Portfolio'] = x
df1

,ADANIPORTS.NS,BRITANNIA.NS,TCS.NS,HINDALCO.NS,HINDUNILVR.NS,TATASTEEL.NS,JSWSTEEL.NS,DIVISLAB.NS,NESTLEIND.NS,ASIANPAINT.NS,TITAN.NS,BAJAJFINSV.NS,RELIANCE.NS,BAJFINANCE.NS,HDFCBANK.NS,Nifty50,Portfolio
Date,,,,,,,,,,,,,,,,,
2021-04-07,814.750000,3808.550049,3271.399902,352.200012,2405.250000,874.849976,562.299988,3698.949951,17409.849609,2628.600098,1514.099976,9539.599609,2002.849976,5077.100098,1447.199951,14819.049805,9.999787e+06
2021-04-08,823.000000,3816.750000,3317.350098,365.200012,2409.899902,918.400024,614.099976,3715.149902,17689.900391,2650.649902,1571.300049,9654.799805,2005.349976,5029.500000,1432.800049,14873.799805,1.020703e+07
2021-04-09,823.599976,3797.699951,3322.250000,361.049988,2476.000000,899.500000,621.000000,3752.350098,17592.400391,2630.800049,1592.000000,9629.049805,1982.050049,4872.299805,1421.750000,14834.849609,1.022196e+07
2021-04-12,744.650024,3812.750000,3246.550049,336.200012,2462.000000,851.549988,604.150024,3779.649902,17501.699219,2602.199951,1510.449951,9163.150391,1911.150024,4511.000000,1367.050049,14310.799805,9.917107e+06
2021-04-13,731.049988,3746.000000,3104.050049,348.700012,2454.399902,879.000000,630.349976,3718.449951,17168.849609,2570.699951,1530.599976,9806.700195,1931.800049,4728.750000,1400.349976,14504.799805,9.987453e+06
2021-04-15,750.349976,3692.699951,3218.949951,353.549988,2460.649902,898.200012,629.099976,3783.399902,16875.650391,2587.699951,1538.550049,9739.700195,1944.300049,4660.299805,1430.099976,14581.450195,1.003031e+07
2021-04-16,755.500000,3696.500000,3195.149902,370.000000,2458.899902,890.250000,619.400024,3821.850098,17252.099609,2663.699951,1549.050049,9824.750000,1932.099976,4616.600098,1428.650024,14617.849609,1.003207e+07
2021-04-19,720.950012,3742.800049,3161.800049,361.399994,2436.649902,888.049988,615.799988,3807.100098,17089.949219,2571.899902,1518.699951,9469.900391,1901.699951,4479.600098,1412.400024,14359.450195,9.890684e+06
2021-04-20,720.450012,3729.899902,3144.550049,359.350006,2397.449951,894.000000,620.599976,3779.699951,17095.650391,2553.649902,1522.900024,9819.400391,1901.150024,4613.649902,1391.400024,14296.400391,9.910639e+06
2021-04-22,737.799988,3752.000000,3118.800049,355.850006,2349.399902,921.400024,640.750000,3755.250000,16790.449219,2511.250000,1480.849976,9853.849609,1906.400024,4688.700195,1422.500000,14406.150391,9.882612e+06
2021-04-23,725.349976,3650.300049,3109.500000,349.500000,2307.750000,925.599976,635.400024,3779.750000,16625.699219,2517.949951,1461.449951,9916.650391,1904.349976,4667.799805,1414.150024,14341.349609,9.816453e+06
2021-04-26,730.750000,3539.199951,3100.800049,348.350006,2360.649902,940.750000,655.799988,3784.350098,16870.599609,2557.899902,1479.849976,10001.750000,1937.849976,4736.549805,1404.800049,14485.000000,9.960826e+06
2021-04-27,749.150024,3541.199951,3132.000000,366.250000,2379.850098,977.750000,665.900024,3908.949951,16779.000000,2574.350098,1495.099976,10091.349609,1988.650024,4865.049805,1438.699951,14653.049805,1.011270e+07
2021-04-28,746.250000,3478.750000,3124.100098,362.600006,2406.550049,971.400024,662.650024,3882.600098,16633.800781,2614.550049,1508.849976,10489.299805,1997.300049,5280.899902,1476.800049,14864.549805,1.022964e+07
2021-04-29,746.750000,3468.899902,3115.250000,372.149994,2407.600098,1031.349976,726.500000,3910.850098,16502.550781,2613.449951,1506.800049,11176.549805,2024.050049,5484.850098,1472.500000,14894.900391,1.045453e+07
2021-04-30,730.049988,3449.000000,3035.649902,364.399994,2353.750000,1034.000000,717.849976,4062.350098,16309.250000,2536.399902,1491.650024,11041.650391,1994.500000,5451.899902,1412.300049,14631.099609,1.034239e+07
2021-05-03,761.400024,3439.250000,3037.000000,369.950012,2408.000000,1064.750000,723.250000,4074.000000,16506.750000,2582.149902,1423.949951,11041.700195,1959.050049,5551.149902,1414.449951,14634.150391,1.035718e+07
2021-05-04,768.750000,3435.850098,3049.750000,362.549988,2407.649902,1063.849976,715.400024,3985.350098,16546.599609,2587.149902,1402.900024,10986.450195,1916.599976,5615.750000,1388.349976,14496.500000,1.030041e+07
2021-05-05,738.099976,3451.600098,3095.699951,367.100006,2394.649902,1070.150024,717.700012,4035.449951,16549.250000,2567.649902,1428.400024,11114.450195,1920.099976,5515.149902,1402.599976,14617.849609,1.032914e+07
2021-05-06,740.799988,3452.050049,3111.449951,385.950012,2390.000000,1100.900024,729.799988,4063.050049,16717.599609,2549.050049,1444.400024,11027.950195,1931.000000,5528.799805,1400.900024,14724.799805,1.040475e+07
2021-05-07,767.750000,3461.250000,3132.899902,401.100006,2411.199951,1182.349976,756.950012,4029.100098,16761.349609,2551.649902,1446.500000,11318.450195,1931.750000,5493.799805,1414.750000,14823.150391,1.050591e+07

### Total Returns during trading period

In [68]:
Return_P = ((df1['Portfolio'][20] - df1['Portfolio'][0]) / df1['Portfolio'][0])*100
Return_B = ((df1['Nifty50'][20] - df1['Nifty50'][0]) / df1['Nifty50'][0])*100

print('Total Return on Portfolio in %: ', Return_P, '%')
print('Total Return on Benchmark in %: ', Return_B, '%')

Total Return on Portfolio in %:  5.061382803147985 %
Total Return on Benchmark in %:  0.02767104498294432 %

### Volatility

In [69]:
x = df1["Portfolio"].pct_change()
vol_P = x.std()*np.sqrt(21)*100
x1 = df1["Nifty50"].pct_change()
vol_B = x1.std()*np.sqrt(21)*100

print('Volatility of Portfolio in %: ', vol_P, '%')
print('Volatility of Benchmark in %: ', vol_B, '%')

Volatility of Portfolio in %:  5.64657729371985 %
Volatility of Benchmark in %:  5.676069132206291 %

### Sharpe Ratio

In [70]:
rf = 0.06
rfp = ((1+rf)**(30/365) -1)*100

sr = (Return_P - rfp)/vol_P
print('Sharpe Ratio of Portfolio: ', sr)

Sharpe Ratio of Portfolio:  0.811343113773921

### Sortino Ratio

In [71]:
x = df1["Portfolio"].pct_change()
y = []
for i in range(len(x)):
    if x[i] < 0:
        y.append(x[i])
print(y)
neg_vol = stdev(y)*np.sqrt(21)*100

sor = (Return_P - rfp)/neg_vol
print('Sortino Ratio of Portfolio: ', sor)

[-0.029823791526426335, -0.014092993607872528, -0.002827928231086352, -0.006694479570644063, -0.01072614663811211, -0.005481154789299891]
Sortino Ratio of Portfolio:  1.022965515229925

### Maximum Draw-down

In [72]:
df1["daily_ret_P"] = df1["Portfolio"].pct_change()
df1["cum_return"] = (1 + df1["daily_ret_P"]).cumprod()
df1["cum_roll_max"] = df1["cum_return"].cummax()
df1["drawdown"] = df1["cum_roll_max"] - df1["cum_return"]
df1["drawdown_pct"] = df1["drawdown"]/df1["cum_roll_max"]
max_dd = df1["drawdown_pct"].max()
print('Maximum Draw-down of Portfolio in %: ', max_dd*100, '%')

Maximum Draw-down of Portfolio in %:  3.9670561479477673 %

### Calmar Ratio

In [73]:
cr = Return_P/(max_dd*100)
print('Calmar Ratio of Portfolio: ', cr)

Calmar Ratio of Portfolio:  1.2758535837125302

### Beta of the Portfolio

In [42]:
df1['daily_ret_B'] = df1["Nifty50"].pct_change()
p = df1['daily_ret_P'].dropna()
q = df1['daily_ret_B'].dropna()
beta = np.cov(p,q)[0][1]/np.var(q)
print('Beta of Portfolio: ', beta)

Beta of Portfolio:  1.031709619327297

### Alpha Generated

In [43]:
alpha = Return_P - rfp + beta*(Return_B - rfp)
print('Alpha of Portfolio in %: ', alpha, '%')

Alpha of Portfolio in %:  -1.4025770816080825 %

https://interactiveadvisors.com/learn-more/performance-metrics

https://corporatefinanceinstitute.com/resources/knowledge/finance/alpha/

https://www.wallstreetmojo.com/beta-coefficient-calculate/

https://www.investopedia.com/articles/08/performance-measure.asp

https://www.investopedia.com/terms/c/cagr.asp

https://www.investopedia.com/terms/v/volatility.asp

https://www.investopedia.com/terms/s/sortinoratio.asp

https://www.investopedia.com/terms/s/sharperatio.asp

https://www.investopedia.com/terms/m/maximum-drawdown-mdd.asp

https://www.investopedia.com/terms/c/calmarratio.asp